# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/
*.egg

# Virtual environment
venv/
.venv/
env/

# Testing & coverage
.pytest_cache/
.coverage
htmlcov/
coverage.xml

# Tooling
.mypy_cache/
.ruff_cache/
.pre-commit-cache/

# IDE
.vscode/
.idea/

# Misc
input.txt
*.log
