# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
env/
venv/
.venv/

# Test coverage
htmlcov/
.coverage
coverage.xml

# Tool caches
.mypy_cache/
.ruff_cache/
.pytest_cache/

# Build artifacts
*.egg-info/
dist/
build/

# IDE
.vscode/
.idea/

poetry.lock
