# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environment
venv/
env/
ENV/

# Django
*.sqlite3
*.log
staticfiles/
media/

# Environment variables
.env

# Unit test / coverage reports
.coverage
.coverage.*
htmlcov/
.pytest_cache/

# VSCode / PyCharm
.vscode/
.idea/
*.iml

# OS
.DS_Store
